/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: #3a3a3a; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

p {
    margin-bottom: 2em; /* on ajoute un espace après chaque paragraphe */
}

img
{
    border: 3px red inset;
    border-radius: 30px;
}
img:hover
{
    box-shadow: 2px 2px 2px blue;
    border: 3px blue inset;
    cursor: default;
}

*{
    margin:0;
    padding:0;
    outline: none;
}
 
body, html{height:100%;}

 
#main{
    max-width:1280px;
    min-height:100%;
    margin:0 auto;
    position:relative;
}
 
footer{
    background:#ccc;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
}

details:hover{
    cursor: pointer;
}
