/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
    font-family: Arial;
}
img
{
    border: 3px red inset;
    border-radius: 30px;
}

img:hover
{
    box-shadow: 6px 6px 6px blue;
    border: 3px blue inset;
}

*{
    margin:0;
    padding:0;
}
 
body, html{height:100%;}

 
#main{
    max-width:1280px;
    min-height:100%;
    margin:0 auto;
    position:relative;
}
 
footer{
    background:#ccc;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
}
